section {
  &.slides {
    padding: 0;
    height: 876px;
  }

  #slide-bootstrap {
    .carousel-indicators {
      li {
        height: 12px;
        width: 12px;
        border-radius: 100px;
        margin-right: 8px;
        margin-left: 8px;
        background-color: transparent;
        border: 2px solid #fff;
        opacity: 1;
        background-clip: inherit;

        &.active{
          background-color: $corBranca;
        }
      }

      bottom: 7%;
    }

    .carousel-item {
      img {
        object-fit: cover;
        //filter: brightness(0.8);
        height: auto;
      }

      .carousel-caption {
        text-align: left;
        right: auto;
        left: 15%;
        top: 40%;


        span {
          width: 100%;
          display: block;
          font-size: 0.813em;
        }

        .btn.btnPrimario {
          font-size: 1em;
          padding-left: 0;
          margin-top: 10px;
          letter-spacing: .15em;

          &:hover {
            letter-spacing: .3em;
          }
        }

        .text-loop {
          p {
            color: $corBranca;
          }
        }
      }

      .container {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        left: 50%;
        text-align: center;

        h2 {
          font-size: 2.625rem;
          margin-bottom: 35px;
          line-height: 1.5em;
          animation-duration: 1.5s;
          text-transform: uppercase;
          font-weight: $semiBold;
          text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
        }


        .text-slide {
          font-size: 1.063rem;
          line-height: 1.4rem;
          font-weight: $medium;
          color: $corBranca;
          text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
          margin-bottom: 35px;
        }

        .btn-primario {
          font-size: 20px;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .slides {
    height: 630px !important;

    img {
      height: 630px !important;
    }

    h2 {
      font-size: 28px !important;
      padding: 20px;
    }
  }
}