// PADRÕES

@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variaveis';
@import 'comments.scss';
@import 'botoes';
@import 'reset';
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;

  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    font-weight: 400;
    font-family: $regular;
    position: relative;
    left: 0;
    transition: all .5s ease;
    padding: 0 !important;

    .fw-regular {
      font-weight: $regular !important;
    }

    .fw-medium {
      font-weight: $medium !important;
    }

    .fw-semi-bold {
      font-weight: $semiBold !important;
    }

    .fw-bold {
      font-weight: $bold !important;
    }

    .fw-extra-bold {
      font-weight: $extraBold !important;
    }

    .fw-black {
      font-weight: $black !important;
    }

    .text-primario {
      color: $corPrimaria !important;
    }

    .text-secundario {
      color: $corSecundaria !important;
    }

    .bg-primario {
      background-color: $corPrimaria;
    }

    .bg-secundario {
      background-color: $corSecundaria;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $regular;
      color: $corBranca;
    }

    h1 {
      font-size: 4.00em;
    }

    h2 {
      font-size: 2.50em;
    }

    h3 {
      font-size: 2.00em;
    }

    h4 {
      font-size: 1.75em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: .75em;
    }

    blockquote {
      font-style: oblique;
    }

    p,
    span {
      font-family: $regular;
      font-size: 0.97em;
      line-height: 1.5rem;
      font-weight: 400;
    }

    form {
      margin-block-end: 0;
      margin-bottom: 0;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .duplicate {
      &:before {
        content: attr(title);
        display: block;
        font-weight: 700;
        top: 30px;
        position: relative;
        font-size: 102%;
        opacity: .1;
      }
    }

    #voltarTopo {
      background-color: $corPrimaria;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 18px;
      left: 18px;
      transition: background-color .3s, opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      cursor: pointer;
      box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -moz-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);

      &:after {
        content: "\f062";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900 !important;
        font-size: 1.3rem;
        line-height: 45px;
        color: #fff;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    #rastreamento-secao {
      & + {
        #depoimentos {
          top: -90px;
          position: relative;
        }
      }
    }

    #pagina {
      padding-top: 80px;

      .container {
        .wp-block-column {
          h4 {
            color: $corSecundaria;
            text-transform: uppercase;
            font-weight: $bold;
            font-size: 1.5rem;
            margin-bottom: 15px;
          }
        }
      }
    }

    #tecnicas-cirurgicas {
      padding: 80px 0;

      h4 {
        color: $corSecundaria;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
    }

    #menu-tecnicas {
      background: #eaeaea;
      padding: 45px 30px;
      border-radius: 10px;
      margin-left: 20px;

      ul {
        li {
          border-bottom: 1px solid #fff;

          a {
            color: #3f3f3f;
            transition: $transicaoPadrao;

            &:hover {
              color: $corSecundaria;
            }
          }
        }
      }
    }

    .toggle-duvidas {
      .card {
        border: 0;

        .card-header {
          padding: 0;
          background: transparent;

          a {
            color: $corPrimaria;
            transition: $transicaoPadrao;

            .icon-wrapper {
              background: $corSecundaria;
              padding: 15px 20px;
              color: #fff;
              transition: $transicaoPadrao;
            }

            &:hover {
              text-decoration: none;
              color: $corSecundaria;

              .icon-wrapper {
                background: $corPrimaria;
              }
            }
          }
        }
      }
    }

    .botao-lateral-wrapper {
      position: fixed;
      top: 60%;
      right: 50px;
      transform: translate(0, -50%);
      z-index: 2;

      a {

        .img-btn-lateral {
          width: 80px;
          -webkit-filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.3));
          -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
          filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
          transition: $transicaoPadrao;
        }

        &:hover {
          .img-btn-lateral {
            -webkit-filter: drop-shadow(10px 10px 12px rgba(0, 0, 0, 0.4));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";

          }
        }
      }
    }

    textarea.form-control, input.form-control, select.form-control {
      border: none;
      border-radius: 25px;
      padding: 10px 25px;
    }

    input.form-control, select.form-control {
      height: 50px;
    }

    .button {
      &.captcode {
        background: #fff;
        height: 50px;
        border-radius: 25px;

        img {
          width: auto;
          margin: 0 auto;
          display: block;
          top: 7px;
          position: relative;
        }

      }
    }

    .municipio {
      margin-bottom: 1rem;
    }


    .form-group select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: url(../img/down-arrow.png) no-repeat #fff;
      -webkit-appearance: none;
      background-position-x: 430px;
      background-position-y: 20px;
      right: 0;
      background-size: 12px;
    }

    .titulo {
      color: #191919;
      font-weight: 600;
      position: relative;

      &:after {
        content: "";
        width: 50px;
        height: 10px;
        background-color: var(--corPrimaria);
        position: absolute;
        left: 0;
        bottom: -20px;
      }

      &.has-text-align-center {
        &:after {
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      &.text-center {
        &:after {
          margin-left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    .wp-block-button {
      width: 100%;

      .wp-block-button__link {
        width: 100% !important;
        border-radius: 100px;
        min-height: 78px;
        align-items: center !important;
        position: relative;
        display: flex;
        justify-content: center;
        font-weight: $bold;
        transition: $transicaoPadrao;
        top: 0;
        left: 0;

        &:before {
          width: 100%;
          height: 100%;
          background: transparent;
          position: absolute;
          content: "";
          z-index: -6;
          display: block;
          border-radius: 50px;
          border: 3px solid #f72228;
          top: 15px;
          left: 18px;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          top: 8px;
          left: 8px;
          color: #ffffff;

          &:before {
            top: 2px;
            left: 1px;
          }
        }
      }

      &.dark {
        .wp-block-button__link {
          &:before {
            border: 3px solid #0c0c0c;
          }
        }
      }
    }

    .widgets {
      margin-bottom: 50px;
    }

    #galeria-obras {
      a {
        .overlay {
          width: 100%;
          height: 100%;
          background: #1a1a1a;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: $transicaoPadrao;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: #fff;
          }
        }

        &:hover {
          .overlay {
            opacity: .75;
          }
        }
      }
    }

    .next.page-link, .prev.page-link {
      display: none;
    }

    .breadcrumb_last {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block !important;
      position: relative;
      text-align: left;
    }

    .code-wrapper {
      border-radius: 25px;
      padding: 10px 25px;
      background: #fff;
      height: 50px;
      display: block;
      position: relative;
      text-align: center;

      img {
        width: auto;
        margin-top: 4px;
      }
    }
  }
}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.bs-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bs-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bs-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bs-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bs-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

// NOVOS

.p-190 {
  padding: 190px 0;
}

.p-90 {
  padding: 90px 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-210 {
  margin-top: 210px;
}

.my-130 {
  margin: 130px 0;
}

ul {
  &.pagination {
    li {
      &.page-item {
        .page-link {
          color: $corPrimaria;
          background-color: transparent;
          border: 3px solid $corPrimaria;
          border-radius: 20px;
          width: 37px;
          height: 37px;
          margin-right: 15px;
          line-height: 2.125rem !important;
          font-size: 1.125rem;
          padding: 0 !important;
          text-align: center;
          font-weight: $semiBold;
          transition: $transicaoPadrao;

          &:hover {
            border: 3px solid #000;
            color: #000;
          }
        }

        &.active {
          .page-link {
            border-color: $corSecundaria;
            color: $corSecundaria;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

:focus, button:focus, input:focus, textarea:focus, a:focus, select:focus {
  outline: none !important;
}

.hr-tracejado {
  border-top: 1px dashed #3d3d3d;
  margin: 50px 0;
}

.text-md-left.texto-localidade p {
  max-width: 650px !important;
}

.btn.btn-primario.dark-hover.bg-hover:hover {
  background: $corSecundaria !important;
  color: $corBranca !important;
  border-color: transparent !important;
}

@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    section#nosso-processo-home .item-solucao {
      display: block;
    }
  }
}

.arredar {
  left: -125px !important;
}

@import 'media-queries.scss';