@media(max-width: 990px) {

  .mobile-menu-wrapper .contatos-mobile-wrapper .email a {
    font-size: 13px !important;
  }

  section #slide-bootstrap .carousel-item .container h2 p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  section #slide-bootstrap .carousel-item .container .btn-primario {
    font-size: 16px;
  }

  .botao-lateral-wrapper {
    top: auto !important;
    bottom: 0;
    background: #000;
    left: 50%;
    right: auto !important;
    transform: translate(-50%, 0) !important;
    padding: 5px 10px 2px 10px;
    border-radius: 7px 7px 0 0;

    img {
      width: 35px !important;
    }
  }

  section#porque-a-supermix .conteudo {
    padding: 30px;
  }

  section#produtos .conteudo, #nossos-produtos .conteudo {
    padding: 30px !important;
  }
  section#obras-realizadas .conteudo {
    padding: 30px;
    max-height: initial;
  }
  section#produtos .produtos-carousel .carousel-content {
    left: 0;
  }
  section#cta-home img {
    width: auto;
  }
  section#cta-home img {
    filter: grayscale(100%);
    width: auto;
  }
  #cta-home h2 {
    padding: 20px;
  }

  #onde-estamos .container .row .mockoup-mobile {
    width: 170px;
    right: -45px;
    bottom: 92px;
  }

  #onde-estamos .container .row .conteudo {
    padding: 0 !important;
  }
  #onde-estamos .conteudo h2 p {
    font-size: 36px !important;
    line-height: 36px !important;
  }

  #onde-estamos {
    min-height: 65px;
  }

  img.bg-cta {
    height: 268px;
    width: 100%;
    object-fit: cover;
  }
  #call-to-action {
    margin-top: 0;
  }

  #call-to-action .container-fluid .row .conteudo h2 {
    padding: 5px 27px;
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin-top: 42px;
  }

  #call-to-action .btn {
    margin-bottom: 90px;
    margin-left: 40px;
    margin-right: 50px;
    font-size: 1rem;
    padding: 15px;
  }

  #onde-estamos h2 {
    margin-top: 45px;
  }

  section#obras-realizadas {
    padding: 50px 0;
  }
  #onde-estamos-page .mapa-onde-estamos svg {
    transform: scale(.9);
  }
  .sidebar-blog {
    margin-top: 35px;
  }
  section#topo-da-pagina .container h1.single-title {
    font-size: 1.5rem !important;
  }
  p#breadcrumbs {
    text-align: center;
  }
  section.slides {
    padding: 0;
    height: 350px;
  }
  #porque-a-supermix img {
    width: 100% !important;
    height: auto;
  }
  section#produtos .produtos-carousel .img-produtos {
    height: 480px;
  }
  #nossos-produtos .row .banner-content {
    width: 100% !important;
  }

}

@media(max-width: 990px) {
  img.bg-topo-da-pagina {
    width: auto;
  }
}

@media(min-width: 768px) {

}