section {
  &#solucoes {
    position: relative;
    top: -80px;

    .conteudo-solucao {
      background: #7cb6d2;
      padding: 20px 30px;
      margin-bottom: 35px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;


      .icone-titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 25px;

        img {
          width: 106px;
          margin-right: 40px;
        }
      }

      h4 {
        font-size: 24px;
      }

      p {
        color: $corBranca;
      }

      .btn {
        padding: 10px 50px;
      }
    }
  }

  &#nosso-processo-home {
    & + {
      #call-to-action {
        margin-top: 150px;
      }
    }
  }

  &#solucao {
    margin-top: 100px;

    .solucao-content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 100px 0 100px;
      left: 200px;

      h2 {
        position: relative;
        left: 30px;
      }

      p {
        max-width: 450px;
        color: #3b3b3b;
      }
    }

    .img-solucao {
      position: relative !important;
      right: -100px;
      border-radius: 350px 0 0 350px !important;
      height: auto;
    }
  }

  &#o-que-esta-incluido {
    margin-top: 50px;

    .fundo-o-que-esta-incluido {
      position: absolute;
      opacity: 0.2;
      margin-top: -150px;
      z-index: -1;
    }

    .conteudo-o-que-esta-incluido {
      .check-solucoes {
        width: 60px;
        margin-top: 10px;
      }

      p {
        color: #3b3b3b;
      }
    }

    & + {
      #call-to-action {
        margin-top: 150px;
      }
    }
  }

  &#vantagens{
    padding-top: 100px;
    padding-bottom: 100px;

    img{
      border-radius: 0 350px 350px 0;
    }

    .vantagens-content{
      padding: 0 100px 0 100px;

      p{
        max-width: 400px;
      }
    }
    .impar{
      flex-direction: row-reverse;

      img{
        border-radius: 350px 0 0 350px !important;
      }
      .vantagens-content{
        display: flex;
        flex-direction: column;
        align-items: flex-end ;
        
        h2{
          text-align: right;
        }
        p{
          text-align: right !important;
        }
      }
    }

  }
}

@media(max-width: 767px) {
  .solucao-content {
    padding: 35px !important;
    text-align: center !important;
    align-items: center !important;
    left: auto !important;

    h2 {
      left: auto !important;
    }
  }

  .img-solucao {
    right: 0 !important;
    width: 135%;
  }
}