#onde-estamos {
  margin-top: 330px;
  background: $corPreta;
  min-height: 440px;

  .container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    .row {
      background-color: $corPrimaria;
      min-height: 430px;

      .conteudo {
        padding: 70px 120px 70px 160px;

        p {
          font-size: 1.563rem;
        }

        h2 {
          p {
            line-height: 3.75rem;
            font-size: 3.75rem;
          }
        }
      }

      .mockoup-mobile {
        width: auto;
        bottom: 0;
        position: absolute;
      }
    }
  }
}

#onde-estamos-page {
  padding: 80px 0;

  .mapa-onde-estamos svg a.inactive path {
    fill: #9d9d9d !important;
  }

  .mapa-onde-estamos {
    svg {
      transform: scale(1.15);

      a {
        font-size: 11px;
        font-weight: $medium;

        path {
          fill: $corPrimaria;
          transition: all .6s ease 0s;
        }

        &:hover {
          path {
            fill: #0c0c0c;
          }
        }
      }
    }
  }
}

#single-localidade{
  padding: 80px 0 120px 0;

  .locais{
    margin-top: 60px;
    .content{
      .marker-local{
        width: auto;
      }
      .content-locais{
        &.bordered {
          border-top: 1px solid #000;
          padding-top: 15px;
        }
      }
    }
  }

}
