#biografia {
  padding: 80px 0;

  .container {
    .wp-block-column {
      h4 {
        color: $corSecundaria;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
    }

    ul {
      padding-inline-start: 0;

      li {
        list-style: none;
      }
    }
  }
}

#institucional {
  background-color: $corSecundaria;
  padding: 85px 0;

  .container {
    .row {
      .icone-institucional {
        width: auto;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

#galeria-biografia {
  padding-top: 80px;

  .container {
    .row {
      a {
        overflow: hidden;

        &:hover {
          .overlay {
            top: 0;
          }
        }

        .overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 102, 148, 0.6);
          position: absolute;
          top: -100%;
          left: 0;
          transition: $transicaoPadrao;

          svg {
            font-size: 35px;
            color: #fff;
          }
        }
      }
    }
  }
}